/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.user-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-row {
  flex: 1 1 20%;
  margin: 10px;
  text-align: center;
}

.clear-row {
  flex-basis: 100%;
  height: 0;
  clear: both;
}
